Repository PawanKolhe/bold-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "**/**/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings=0", "git add"],

  "**/**/*.{js,jsx,ts,tsx,json,css,scss,md}": ["prettier --write", "git add"]
}

chore: update scripts
  .lintstagedrc.json
Due: prettier --write

feat: Button component
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/common.module.css
  packages/react/src/components/button/Button.module.css
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: Button enhancements
  .vscode/settings.json
  packages/react/declarations.d.ts
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/_variables.scss
  packages/react/src/common.module.css
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: Button color not appearing
  packages/react/src/components/button/Button.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Button enhancements
  packages/react/.eslintrc.json
  packages/react/.storybook/preview.js
  packages/react/src/_variables.scss
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Button enhancements
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: chromatic
  packages/react/package.json
  packages/react/rollup.config.mjs
  pnpm-lock.yaml
Due: prettier --write

ci: setup chromatic ci
  .github/workflows/chromatic.yml
  packages/react/package.json
Due: prettier --write

ci: setup chromatic ci
  .github/workflows/chromatic.yml
  package.json
Due: prettier --write

ci: setup chromatic ci
  .github/workflows/chromatic.yml
Due: none

ci: setup chromatic ci
  package.json
Due: prettier --write

feat: add left and right icons props to Button
  .eslintrc.json
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add borderWidth prop to Button
  packages/react/README.md
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
  packages/react/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: rename to Bold UI
  README.md
  package.json
  packages/react/README.md
  packages/react/package.json
  packages/react/src/components/Introduction.mdx
  packages/website/next.config.js
  packages/website/package.json
  packages/website/pages/index.tsx
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: readme update
  packages/react/README.md
  packages/website/pages/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: add react/jsx-runtime as external dep
  packages/react/rollup.config.mjs
Due: none

refactor: generate separate css files
  package.json
  packages/react/README.md
  packages/react/gulpfile.mjs
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
  packages/react/tsconfig.json
  packages/website/pages/index.tsx
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

bug: fix website css import
  packages/website/pages/index.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: add isLoading state in Button
  packages/react/package.json
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: button loading state css
  packages/react/src/components/button/Button.module.scss
Due: prettier --write

fix: Button loading css
  packages/react/src/components/button/Button.module.scss
Due: prettier --write

feat: Stack component
  packages/react/package.json
  packages/react/src/_variables.scss
  packages/react/src/components/Stack/Stack.module.scss
  packages/react/src/components/Stack/Stack.stories.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/Stack.types.ts
  packages/react/src/components/Stack/index.ts
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: revert linaria dependency install
  pnpm-lock.yaml
Due: none

feat: improve Stack component
  packages/react/package.json
  packages/react/rollup.config.mjs
  packages/react/src/components/Stack/Stack.module.scss
  packages/react/src/components/Stack/Stack.stories.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/Stack.types.ts
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
  packages/react/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: Stack improvements
  packages/react/src/components/Stack/Stack.module.scss
  packages/react/src/components/Stack/Stack.stories.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/Stack.types.ts
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  scripts/generate-component.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Button enhancements
  .eslintrc.json
  packages/react/src/_common.scss
  packages/react/src/components/Stack/Stack.module.scss
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: update README
  packages/react/README.md
Due: prettier --write

chores: update lock file
  packages/react/README.md
  pnpm-lock.yaml
Due: prettier --write

chore: case change
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/Button.types.ts
  packages/react/src/components/Button/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Delete packages/react/src/components/button directory
  packages/react/src/components/button/Button.module.scss
  packages/react/src/components/button/Button.stories.tsx
  packages/react/src/components/button/Button.tsx
  packages/react/src/components/button/Button.types.ts
  packages/react/src/components/button/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: update case
  packages/react/README.md
Due: prettier --write

feat: white Button kind
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/Button.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

style: button css update
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

style: Button style update
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Button/Button.types.ts
Due: eslint --fix --max-warnings=0, prettier --write
