Repository PawanKolhe/bold-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "**/**/*.{js,jsx,ts,tsx}": "eslint --fix --max-warnings=0",
  "**/**/*.{js,jsx,ts,tsx,json,css,scss,md}": "prettier --write"
}

style: color update
  packages/react/README.md
  packages/react/src/_common.scss
  packages/react/src/components/Button/Button.module.scss
Due: prettier --write

feat: implement component generator script
  .prettierignore
  package.json
  packages/react/package.json
  packages/react/plop-templates/react-component/index.ts.hbs
  packages/react/plop-templates/react-component/{{name}}.module.scss.hbs
  packages/react/plop-templates/react-component/{{name}}.stories.tsx.hbs
  packages/react/plop-templates/react-component/{{name}}.tsx.hbs
  packages/react/plop-templates/react-component/{{name}}.types.ts.hbs
  packages/react/plopfile.mjs
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Input/Input.module.scss
  packages/react/src/components/Input/Input.stories.tsx
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Input/Input.types.ts
  packages/react/src/components/Input/index.ts
  packages/react/src/components/Stack/Stack.module.scss
  packages/react/src/components/Stack/Stack.tsx
  pnpm-lock.yaml
  scripts/generate-component.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: update docs
  README.md
  packages/react/plop-templates/react-component/{{name}}.stories.tsx.hbs
  packages/react/src/components/Input/Input.stories.tsx
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Stack/Stack.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Theme context
  .eslintrc.json
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Input/Input.module.scss
  packages/react/src/components/Input/Input.tsx
  packages/react/src/context/ThemeContext.tsx
  packages/react/src/context/ThemeContext.types.ts
  packages/react/src/context/index.ts
  packages/react/src/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Theme context enhancements
  packages/react/rollup.config.mjs
  packages/react/src/_common.scss
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/index.ts
  packages/react/src/constants/index.ts
  packages/react/src/constants/styles.constants.ts
  packages/react/src/context/ThemeContext.tsx
  packages/react/src/context/ThemeContext.types.ts
  packages/react/src/index.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/styles.utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Theme context enhancements
  packages/react/src/components/Button/Button.tsx
  packages/react/src/context/ThemeContext.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: rename css variables
  packages/react/src/_common.scss
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Input/Input.module.scss
Due: eslint --fix --max-warnings=0, prettier --write

fix: modify button styles
  packages/react/plop-templates/react-component/{{name}}.tsx.hbs
  packages/react/src/_common.scss
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Input/Input.module.scss
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/context/ThemeContext.tsx
  packages/react/src/context/ThemeContext.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Input component improve
  packages/react/src/_common.scss
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Input/Input.module.scss
  packages/react/src/components/Input/Input.stories.tsx
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Input/Input.types.ts
  packages/react/src/components/Stack/Stack.tsx
Due: eslint --fix --max-warnings=0, prettier --write

style: style updates
  packages/react/README.md
  packages/react/src/_common.scss
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Input/Input.module.scss
  packages/react/src/components/Stack/Stack.module.scss
Due: prettier --write

style: update color to be AA a11y
  packages/react/src/_common.scss
  packages/react/src/components/Introduction.mdx
Due: prettier --write

feat: Input component styling
  packages/react/README.md
  packages/react/package.json
  packages/react/plop-templates/react-component/{{name}}.module.scss.hbs
  packages/react/src/_common.scss
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Input/Input.module.scss
  packages/react/src/components/Input/Input.stories.tsx
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Input/Input.types.ts
  packages/react/src/utils/refs.utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: styling
  .lintstagedrc.json
  packages/react/.storybook/main.ts
  packages/react/.storybook/preview.ts
  packages/react/README.md
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Input/Input.module.scss
  packages/react/src/components/Input/Input.types.ts
  packages/react/src/components/Stack/Stack.module.scss
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/Stack.types.ts
  packages/react/src/index.ts
  packages/react/src/styles/_common.scss
  packages/react/src/styles/core.scss
  packages/website/pages/index.tsx
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

chore: lintstaged
  .lintstagedrc.json
Due: prettier --write

chore: linting
  packages/react/.eslintignore
  packages/react/.eslintrc.json
Due: prettier --write

refactor: fix build process
  .eslintignore
  packages/react/.eslintignore
  packages/react/.eslintrc.json
  packages/react/.storybook/main.mjs
  packages/react/.storybook/preview.mjs
  packages/react/README.md
  packages/react/gulpfile.mjs
  packages/react/package.json
  packages/react/rollup-plugin/index.mjs
  packages/react/rollup-plugin/postCssTransformer.mjs
  packages/react/rollup.config.mjs
  packages/react/src/index.ts
  packages/react/src/styles/core.global.scss
  packages/react/src/styles/index.ts
  packages/website/package.json
  packages/website/pages/index.module.scss
  packages/website/pages/index.tsx
  packages/website/pages/page2.tsx
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

refactor: fix build process
  packages/react/rollup.config.mjs
Due: none

feat: grid component
  packages/react/plop-templates/react-component/{{name}}.module.scss.hbs
  packages/react/plop-templates/react-component/{{name}}.stories.tsx.hbs
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Grid/Grid.module.scss
  packages/react/src/components/Grid/Grid.stories.tsx
  packages/react/src/components/Grid/Grid.tsx
  packages/react/src/components/Grid/Grid.types.ts
  packages/react/src/components/Grid/index.ts
  packages/react/src/components/Input/Input.module.scss
  packages/react/src/components/Stack/Stack.module.scss
  packages/react/src/components/Stack/Stack.stories.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/styles/_common.scss
  packages/react/src/styles/core.global.scss
  packages/react/src/utils/index.ts
  packages/react/src/utils/layout.utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Grid layout enhancements
  packages/react/plop-templates/react-component/{{name}}.tsx.hbs
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Grid/Grid.module.scss
  packages/react/src/components/Grid/Grid.stories.tsx
  packages/react/src/components/Grid/Grid.tsx
  packages/react/src/components/Grid/Grid.types.ts
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Stack/Stack.module.scss
  packages/react/src/components/Stack/Stack.stories.tsx
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/components/Stack/Stack.types.ts
  packages/react/src/context/ThemeContext.tsx
  packages/react/src/utils/index.ts
  packages/react/src/utils/styles.utils.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: remove unnecessary props from Grid
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Grid/Grid.module.scss
  packages/react/src/components/Grid/Grid.stories.tsx
  packages/react/src/components/Grid/Grid.tsx
  packages/react/src/components/Grid/Grid.types.ts
  packages/react/src/components/Grid/GridItem.stories.tsx
  packages/react/src/components/Input/Input.stories.tsx
  packages/react/src/components/Stack/Stack.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: change zindex css variable names
  packages/react/src/styles/core.global.scss
Due: prettier --write

feat: Modal component
  packages/react/package.json
  packages/react/plop-templates/react-component/{{name}}.stories.tsx.hbs
  packages/react/src/components/Button/Button.module.scss
  packages/react/src/components/Button/Button.tsx
  packages/react/src/components/Grid/Grid.tsx
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Modal/Modal.module.scss
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
  packages/react/src/components/Modal/index.ts
  packages/react/src/components/Stack/Stack.tsx
  packages/react/src/styles/core.global.scss
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=0, prettier --write

feat: add fullscreen mode in Modal component
  packages/react/src/components/Modal/Modal.module.scss
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

docs: add credits section
  packages/react/README.md
Due: prettier --write

fix: Modal nesting zindex bug
  packages/react/src/components/Button/Button.stories.tsx
  packages/react/src/components/Modal/Modal.module.scss
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
  packages/react/src/constants/index.ts
  packages/react/src/hooks/useMountTransition.hook.ts
  packages/react/src/utils/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: add blockScrollOnMount prop to Modal
  packages/react/src/components/Modal/Modal.module.scss
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: disable Modal children control in storybook
  packages/react/src/components/Modal/Modal.stories.tsx
Due: eslint --fix --max-warnings=0, prettier --write

fix: storybook nested story for Modal
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Modal autoFocus feature
  packages/react/src/components/Input/Input.tsx
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
  packages/react/src/hooks/useKeyboardShortcut.hook.ts
  packages/react/src/utils/FocusLock.tsx
Due: eslint --fix --max-warnings=0, prettier --write

refactor: create FOCUSABLE_ELEMENTS constant
  packages/react/src/constants/focusableElements.constants.ts
  packages/react/src/utils/FocusLock.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Modal enhancements
  packages/react/src/components/Modal/Modal.module.scss
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
  packages/react/src/utils/FocusLock.tsx
  packages/react/src/utils/dom.utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Modal focusRef props
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
  packages/react/src/types/dom.types.ts
  packages/react/src/utils/FocusLock.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: git ignore storybook-static
  .gitignore
Due: none

ci: fix storybook build
  packages/react/.storybook/preview.mjs
Due: none

feat: Modal enhancements
  packages/react/src/components/Modal/Modal.module.scss
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
  packages/react/src/styles/core.global.scss
Due: eslint --fix --max-warnings=0, prettier --write

fix: Modal aria-labelledby
  packages/react/src/components/Modal/Modal.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Modal enhancements
  packages/react/src/components/Modal/Modal.module.scss
  packages/react/src/components/Modal/Modal.stories.tsx
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
  packages/react/src/utils/FocusLock.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: Drawer component
  packages/react/README.md
  packages/react/src/components/Drawer/Drawer.module.scss
  packages/react/src/components/Drawer/Drawer.stories.tsx
  packages/react/src/components/Drawer/Drawer.tsx
  packages/react/src/components/Drawer/Drawer.types.ts
  packages/react/src/components/Drawer/index.ts
  packages/react/src/components/Modal/Modal.context.ts
  packages/react/src/components/Modal/Modal.module.scss
  packages/react/src/components/Modal/Modal.tsx
  packages/react/src/components/Modal/Modal.types.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: remove comments out code
  packages/react/src/components/Drawer/Drawer.tsx
Due: eslint --fix --max-warnings=0, prettier --write
